/*-- body or background-can i use THIS or varient on this: "$("a[target='imgStr']")"); */

.backgroundImg {
    /*width:305px;
    height:312px;*/ 
    background-image:url("img/aurora.jpg");
    background-size:cover;
      /*background-repeat: no-repeat;
    background-position: right top;
    margin-right: 20px;
    background-attachment: fixed; 
    background-color:cccccc; */
}



/*  .paraFirst {
                text-align: center;
                color: blue;
                background-size: cover;
                background-image: url("img/aurora.jpg");
                float: right;
            }




.text {
	float: left;
	color: green;}*/


