<ion-view view-title="Author">
  <ion-content class="padding">
    <h2>Welcome to Quotations App 2.1.0</h2>
    <p>
  This tab was designed to show a list of all authors and clickable to reveal a list of their quotes
    </p>
   
   <ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>some function</button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getRandomImage()">Get Picture </button>
    </li>
    
    <li>        
    <button class="button button-energized" onclick="open()">Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()">Random Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick="authorList()">author </button>
    </li>
</ul>
<!-- Attempted to use various methods to print list of array items to screen; document.write does print but wipes the HTML(buttons+pictures) from the screen, console wont write to screen and getElementById displays in console only -->
<p id="author">List of Authors</p>
<script>document.getElementbyId("author").innerHTML=("q[1]");</script>



  </ion-content>
</ion-view>