<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Welcome to Quotations App 2.1.0</h2>
    <p>
    The app that: combines your favourite quotations and pictures, 
    allows you to add your favourite quotations, favourite pictures and 
    generates a special quotation based on your birthday! This may all change for the simpler. How do I get the buttons to appear listed on LHS and how do I introduce a container for the pictures and text and how do I create a gallery of thumb nails and how do I create a mood selector. how do I create storage.
    </p>
<ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>Test button for alert box </button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getPic()">Get Picture </button>
    </li>
    <li>        
    <button class="button button-energized" onclick="e_Mail()";>Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()";>Get A Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick=alert("getPics");>click me if you dare </button>
    </li>
</ul>


 



<!-- 
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Doe">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Birth Date dd/mm/yy</span>
    <input type="text" placeholder="31/03/1970">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@doe.com">
  </label>
  <button class="button button-block button-positive">
  Submit
</button>
</div> -->


  </ion-content>
</ion-view>