<!--
How do I send an e-mail with quote attachment     do i call stylesheet?-->
<!--<link href="css/style.css" rel="stylesheet">-->
<Div id="body">

<ion-view view-title="Quotations">
    <ion-content class="padding">
        <h2>Welcome to Quotations App 2.1.0</h2>
        <p>
            Quotations blah blah blah blah blah
        </p>
<ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>some function</button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getRandomImage()">Get Picture </button>
    </li>
    
    <li>        
    <button class="button button-energized" onclick="open()">Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()">Random Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick=alert("getPics")>By Mood </button>
    </li>
</ul>



</script>

        <div class="list">
            <button class="button button-block button-positive">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>
</Div>> <!--close body div-->
