<<ion-view view-title="Gallery">
    <ion-panel>
        <ion-content class="padding">
         <!-- <img id="bkgimg" src="img/aurora2.jpg" alt="aurora"> -->
        <style> .backgroundImg { background-color:cccccc;background-size:cover; background-image:url("img/aurora.jpg" id="bkgimg");}
            </style>
       <div class="backgroundImg">
            <h2>Welcome to Gallery in Quotations App 2.2.0</h2>
            <script>
            function testText() {
                document.getElementById("demo").innerHTML = ("Hello World");
            }
            </script>
            
            <div class="buttons">
              <ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>some function</button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getRandomImage()">Get Picture </button>
    </li>
    
    <li>        
    <button class="button button-energized" onclick="open()">Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()">Random Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick=alert("getPics")>By Mood </button>
    </li>
</ul>
            </div>
           
        </ion-content>
    </ion-panel>
</ion-view>
