<ion-view view-title="Author">
  <ion-content class="padding">
    <h2>Welcome to Quotations App 2.1.0</h2>
    <p>
  Author
  AuthorAuthor
    </p>
   
   <ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>Test button for alert box </button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getPic()">Get Picture </button>
    </li>
    <li>        
    <button class="button button-energized" onclick="e_Mail()";>Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()";>Get A Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick=alert("getPics");>click me if you dare </button>
    </li>
</ul>




  </ion-content>
</ion-view>