<ion-view view-title="Author">
  <ion-content class="padding">
    <h2>Welcome to Quotations App 2.1.0</h2>
    <p>
  Author
  AuthorAuthor
    </p>
   
   <ul>
    <li>
        <button class="button button-calm" onclick=alert( "getPic");> click me </button>
    </li>
    <li>
        <button class="button button-balanced" onclick="getPic()">Get Picture </button>
    </li>
    <li>
        <button class="button button-energized" onclick=alert( "button pressed");>Mail to </button>
    </li>
    <li>
        <button class="button button-assertive" onclick=alert( "button pressed");>button-assertive</button>
    </li>
    <li>
        <button class="button button-royal" onclick=alert( "button pressed");>button-royal </button>
    </li>
</ul>




  </ion-content>
</ion-view>