

<ion-view view-title="Quotations">
    <ion-content class="padding">
     <style>.backgroundImg { background-color:cccccc;background-size:cover; background-image:url("img/aurora.jpg");}
            </style>
       <div class="backgroundImg">
        <h2>Welcome to Quotations App 2.1.0</h2>
        <p>
            Quotations blah blah blah blah blah
        </p>
<ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>some function</button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getRandomImage()">Get Picture </button>
    </li>
    
    <li>        
    <button class="button button-energized" onclick="open()">Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()">Random Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick=alert("getPics")>By Mood </button>
    </li>
</ul>



</script>

        <div class="list">
            <button class="button button-block button-positive">
                Submit
            </button>
        </div>
        </div> <!--closing div for backgroundImg -->
    </ion-content>
</ion-view>

