<!-- unexpected token errors
getPic not defined.....it is in getimage.js
testText not defined ....it is below
is there a bug fix programme
have tried calling functions inside and outside the ion tags -->

<ion-view view-title="Gallery">
    <ion-panel>
        <ion-content class="padding">
            <h2>Welcome to Gallery in Quotations App 2.2.0</h2>
            <script>
            function testText() {
                document.getElementById("demo").innerHTML = ("Hello World");
            }
            </script>
            <button class="button button-balanced" onclick="getPic()">Test to Get Picture </button>
            <button class="button button-balanced" onclick="testText()">Test to change text </button>
            <p id="demo"></p>
            <button class="button button-balanced" onclick=alert( "button pressed");>Test to call alert box </button>
            <div class="buttons">
                <ul>
                    <li>
                        <button class="button button-calm" onclick=alert("Button pressed");> click me </button>
                    </li>
                    <li>
                        <button class="button button-balanced" onclick="getPic()">Get Picture </button>
                    </li>
                    <li>
                        <button class="button button-energized" onclick="email()">Mail to </button>
                    </li>
                    <li>
                        <button class="button button-assertive" onclick=alert("button pressed");>button-assertive</button>
                    </li>
                    <li>
                        <button class="button button-royal" onclick=alert("button pressed");>button-royal </button>
                    </li>
                </ul>
            </div>
            <!-- <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Doe">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Birth Date dd/mm/yy</span>
    <input type="text" placeholder="31/03/1970">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@doe.com">
  </label>
  <button class="button button-block button-positive">
  Submit
</button>
</div> -->
        </ion-content>
    </ion-panel>
</ion-view>
