<ion-view view-title="Mood">
  <ion-content class="padding">
    <h2>Welcome to Quotations App 2.1.0</h2>
    <p>
    Select Mood of next random quote.....third child of the array item....quote, author, mood
    </p>
<ul>
    <li>
        <button class="button button-calm" onclick=alert("TestTextInAlertBox");>some function</button>
    </li>
    <li>
        
       <button class="button button-balanced" onclick="getRandomImage()">Get Picture </button>
    </li>
    
    <li>        
    <button class="button button-energized" onclick="open()">Mail to: </button>
    </li>
    <li>
         <button class="button button-assertive" onclick="getRandomQuote()">Random Quote</button>
    </li>
    <li>
    <button class="button button-royal" onclick=alert("getPics")>By Mood </button>
    </li>
</ul>


<div class="list">
    <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@doe.com">
  </label>
  <button class="button button-block button-positive">
  Submit
</button>
</div>

 
  
  </ion-content>
</ion-view>